.box:nth-child(odd) {
    background-color: #aaaaaa;
    height: 190px;
    padding: 8px;
    text-align: center;
}

.box:nth-child(even) {
    background-color: #cccccc;
    height: 190px;
    padding: 8px;
    text-align: center;
}

